table{
    border: 1px solid green;
    text-align: center;
}

#tabla2 td{
    color: white;
}

#tabla3 td{
    background-color: blue;
    color: white;
}

#tabla4 td{
    background-color: red;
    color: white;
}
tr,th,td {
    padding: 10px;
}
caption{
    margin: 10px;
    color: green;
}
