body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
  color: white;
  padding: 20px;
}

.failed {
  background-color: red;
  color: white;
}

table{
  background-color: wheat;
}

#table-all {
  
  color: black;
}

#table-passed {
  color: green;
}

#table-failed {
  color: red;
}

div {
  padding: 10px;
}

caption {
  color: black;
  background-color: wheat;
  font-weight: bold;
}
