body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
  color: white;
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: column;
}

#it1 {
  align-self: center;
  justify-self: center;
}

#it2 {
  align-self: center;
  justify-self: center;
}
#it3 {
  align-self: center;
  justify-self: center;
}
#it4-5 {
  align-self: center;
  justify-self: center;
}

table {
  text-align: center;
  background-color: wheat;
  border-spacing: 10px;
}

#table-all {
  color: black;
}

.failed {
  background-color: red;
  color: white;
}

caption {
  color: black;
  background-color: wheat;
  font-weight: bold;
}

#bonus {
  align-self: center;
  justify-self: center;
}

#table-passed {
  color: green;
}

#extra-bonus {
  align-self: center;
  justify-self: center;
}

#table-failed {
  color: red;
}

p {
  align-self: center;
  justify-self: center;
  font-weight: bold;
  font-size: 32px;
}
