* {
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  background-color: black;
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 24px;
  font-weight: 700;
}

#studentsList {
  display: inline-block;
  background-color: pink;
  padding: 2rem;
  border-radius: 40px;
}

ul {
  background-color: pink;
}

li {
  background-color: pink;
  color: black;
}

#statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.failed {
  color: red;
}

#allStudents {
  justify-content: center;
  align-items: center;
  background-color: #a797d1;
  margin-bottom: 2rem;
}

#passStudents {
  justify-content: center;
  align-items: center;
  background-color: #adcc89;
  margin-bottom: 2rem;
}

#failStudents {
  justify-content: center;
  align-items: center;
  background-color: #eba37c;
  margin-bottom: 2rem;
}

thead {
  position: relative;
  padding: 1.5rem;
  background-color: white;
  color: black;
}
